@layer kiba-structure {
  @keyframes kiba-toast-fade-in {
    0% {
      transform: translate3d(0, -200%, 0) scale(0.6);
      opacity: 0.5;
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1;
    }
  }

  @keyframes kiba-toast-fade-out {
    0% {
      transform: translate3d(0, 0, -1px) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, -150%, -1px) scale(0.6);
      opacity: 0;
    }
  }

  // Override react-hot-toast default styles
  .KibaToastContainer > div {
    max-width: none !important;
  }

  .KibaToast {
    display: flex;
    transition-duration: 0.3s;
    white-space: nowrap;
    &.clickable {
      cursor: pointer;
    }
    &.animateIn {
      animation: kiba-toast-fade-in 0.35s cubic-bezier(0.21, 1.02, 0.73, 1);
    }
    &.animateOut {
      animation: kiba-toast-fade-out 0.75s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;
    }
  }

  .KibaToastFocusFixer {
    outline: none;
    background-clip: border-box;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@layer kiba-theme {
  .KibaToast {
    padding: var(--kiba-toast-padding, 0.75em 1em);
    background-color: var(--kiba-toast-background-color, #ffffff);
    border-radius: var(--kiba-toast-border-radius, 0.5em);
    box-shadow: var(--kiba-toast-box-shadow, 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05));
    color: var(--kiba-toast-color, #333333);
    &.success {
      background-color: var(--kiba-toast-success-background-color, #d4edda);
      color: var(--kiba-toast-success-color, #155724);
    }
    &.error {
      background-color: var(--kiba-toast-error-background-color, #f8d7da);
      color: var(--kiba-toast-error-color, #721c24);
    }
    &.warning {
      background-color: var(--kiba-toast-warning-background-color, #fff3cd);
      color: var(--kiba-toast-warning-color, #856404);
    }
    &.info {
      background-color: var(--kiba-toast-info-background-color, #d1ecf1);
      color: var(--kiba-toast-info-color, #0c5460);
    }
    .KibaToastFocusFixer {
      transition-duration: 0.3s;
    }
  }
}
