@keyframes fadeIn {
    from {transform: translate3d(0, -200%, 0) scale(0.6); opacity: .5;}
    to {transform: translate3d(0, 0, 0) scale(1); opacity: 1;}
}

@keyframes fadeOut {
    from {transform: translate3d(0, 0, -1px) scale(1); opacity: 1;}
    to {transform: translate3d(0, -150%, -1px) scale(0.6); opacity: 0;}
}

.animateIn {
    animation-name: fadeIn;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.21, 1.02, 0.73, 1);
    animation-delay: 0s;
}

.animateOut {
    animation-name: fadeOut;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.06, .71, 0.55, 1);
    animation-delay: 0s;
}
